
<div class="auth" >
    <form >
      <div class="form-group">
        <label for="identifiant">Adresse mail</label>
        <input type="text" 
        class="form-control" 
        id="identifiant" 
        placeholder="Entrez votre identifiant">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" 
        class="form-control" 
        id="password" 
        placeholder="Entrez votre mot de passe">
      </div>
      <button type="submit" 
      class="btn btn-primary">Submit
  </button>
    </form>
</div>